body {
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 6vw;
}

button {
    margin-right: 10px;
}

h3 {
    margin-top: 80px;
    padding: 1rem;
    color: whitesmoke;
    border-radius: 10px;
    background-color: #587c94;
}

h3::after {
    margin-left: 10px;
    content: ' \002b07';
}

h2 {
    background-color: #587c94;
    text-align: center;
    color: whitesmoke;
    padding: 1rem;
    margin-top: 1rem;
}

h4 {
    margin-top: 1rem;
    color: rgb(101, 73, 105);
}